.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}

.boxes {
  text-align: center;
  font-size: 1.2em;
}

#temp_f {
  display: none;
}

#text_f {
  display: none;
}

button {
  border-radius: 2em;
  border-color: green;
}
.tempdesc{
font-size: 1.3em;
}
#weathercondtext{
  font-size: 1.2em;
}
